<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bacon Ipsum</key>
	<string>bacon ipsum dolor amet tongue strip steak leberkas venison picanha shank capicola ground round porchetta tenderloin swine tri-tip t-bone prosciutto ground round sirloin chicken capicola biltong leberkas ball tip corned beef boudin pancetta pork belly fatback swine cow pork flank capicola boudin filet mignon salami turkey ribeye andouille filet mignon porchetta venison ball tip rump
bacon ipsum dolor amet tongue strip steak leberkas venison picanha shank capicola ground round porchetta tenderloin swine tri-tip t-bone prosciutto ground round sirloin chicken capicola biltong leberkas ball tip corned beef boudin pancetta pork belly fatback swine cow pork flank capicola boudin filet mignon salami turkey ribeye andouille filet mignon porchetta venison ball tip rump</string>
	<key>Cupcake Ipsum</key>
	<string>marshmallow oat cake cupcake tootsie roll caramels bonbon caramels icing topping chocolate cake chocolate bar candy bear claw gummi bears dessert chupa chups gingerbread pie marzipan sugar plum tiramisu sugar plum tiramisu bear claw cheesecake donut powder cake chocolate cake sesame snaps gummies powder sweet halvah danish dessert oat cake jelly-o biscuit pudding cotton candy tootsie roll fruitcake sweet roll gummies cake carrot cake cake caramels marzipan candy apple pie wafer cupcake tart macaroon pudding cupcake oat cake cookie cake danish sesame snaps caramels chocolate fruitcake liquorice muffin marzipan sugar plum sweet roll jelly candy pudding danish sugar plum fruitcake tiramisu toffee</string>
	<key>Lorem Ipsum</key>
	<string>lorem ipsum dolor sit amet consectetur adipiscing elit duis eu ultricies sapien maecenas at interdum leo mauris nec sagittis nunc mauris vulputate arcu in arcu cursus convallis proin sollicitudin magna sed luctus aliquam magna lorem sodales elit in varius ligula leo eu massa fusce ut quam id metus volutpat bibendum duis hendrerit arcu non tempus lacinia donec fringilla purus quis lectus lacinia posuere mauris fermentum pulvinar felis sit amet maximus fusce vulputate at ipsum ut rutrum sed sollicitudin orci et dui finibus fringilla</string>
</dict>
</plist>
