<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bacon Ipsum</key>
	<string>bacon ipsum dolor amet tongue strip steak leberkas venison picanha shank capicola ground round porchetta tenderloin swine tri-tip t-bone prosciutto ground round sirloin chicken capicola biltong leberkas ball tip corned beef boudin pancetta pork belly fatback swine cow pork flank capicola boudin filet mignon salami turkey ribeye andouille filet mignon porchetta venison ball tip rump</string>
	<key>Cat Ipsum</key>
	<string>cat ipsum dolor sit amet jump around before you were doing that sleep on your face rub face on everything meow meow mama purr jump five feet high and sideways when running at the catnip eat the grass sniff all the things chase the red dot stretch hiss knock over christmas tree hide when guests come over claw drapes attack feet under table nap all day demand treats stare out window chase mice leave dead animals as gifts fluffy tail whiskers toe beans zoomies scratch post cardboard box litter box knead blanket headbutt human pounce on unsuspecting prey curl into a ball warm milk sunbeam window perch tiny lion big attitude curious kitten sleepy cat fluffy cat soft paws fuzzy ears twitchy tail midnight sprint loud purr gentle nudge playful bite grooming session hairball lap cat shoulder cat food water bowl favorite toy ignore owner open door close door</string>
	<key>Cupcake Ipsum</key>
	<string>marshmallow oat cake cupcake tootsie roll caramels bonbon caramels icing topping chocolate cake chocolate bar candy bear claw gummi bears dessert chupa chups gingerbread pie marzipan sugar plum tiramisu sugar plum tiramisu bear claw cheesecake donut powder cake chocolate cake sesame snaps gummies powder sweet halvah danish dessert oat cake jelly-o biscuit pudding cotton candy tootsie roll fruitcake sweet roll gummies cake carrot cake cake caramels marzipan candy apple pie wafer cupcake tart macaroon pudding cupcake oat cake cookie cake danish sesame snaps caramels chocolate fruitcake liquorice muffin marzipan sugar plum sweet roll jelly candy pudding danish sugar plum fruitcake tiramisu toffee</string>
	<key>Lorem Ipsum</key>
	<string>lorem ipsum dolor sit amet consectetur adipiscing elit duis eu ultricies sapien maecenas at interdum leo mauris nec sagittis nunc mauris vulputate arcu in arcu cursus convallis proin sollicitudin magna sed luctus aliquam magna lorem sodales elit in varius ligula leo eu massa fusce ut quam id metus volutpat bibendum duis hendrerit arcu non tempus lacinia donec fringilla purus quis lectus lacinia posuere mauris fermentum pulvinar felis sit amet maximus fusce vulputate at ipsum ut rutrum sed sollicitudin orci et dui finibus fringilla</string>
	<key>Pirate Ipsum</key>
	<string>arrr ipsum dolor sit amet ahoy matey scallywag buccaneer captain crew deck galley cabin crow nest mast sail anchor compass treasure chest doubloon pieces of eight gold silver rum grog barrel tavern island cove lagoon reef shark kraken mermaid siren cannon cannonball cutlass pistol sword hook peg leg eye patch bandana tricorn parrot barnacle sea dog landlubber bilge rat mutiny plank walk the plank buried treasure map x marks the spot stormy seas black flag jolly roger shipwreck longboat rowboat port starboard bow stern quartermaster first mate lookout hoist the colors batten down the hatches avast belay yo ho yo ho booty plunder raid loot voyage horizon sunset moonlit waves salty breeze hurricane treasure island coconut palm ghost ship cursed gold sea monster</string>
</dict>
</plist>
